#slider-area {
  background: url(../images/horizontal.jpg) 0 8px no-repeat;
  height: 23px;
  width: 500px;
  margin: 0 0 5px 0;
}

#slider {
  background: url(../images/button-horizontal.jpg) no-repeat;
  width: 33px;
  height: 23px;
  cursor: pointer;
}
